spring-schema-example/src/main/resources/META-INF/liyang.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/liyang"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tns="http://www.example.org/liyang" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" />


	<xsd:complexType name="identifiedType" abstract="true">
		<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
	</xsd:complexType>
	
	
	<xsd:complexType name="serviceType">
		<xsd:complexContent>
			<xsd:extension base="tns:identifiedType">
				<xsd:attribute name="name" type="xsd:string">
		
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>


	</xsd:complexType>

	<xsd:element name="service" type="tns:serviceType">
	 
	</xsd:element>


</schema>